body{
    margin: 0;
}
.page-wrapper{
    background-color: rgb(214, 22, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 2rem;
    box-sizing: border-box;
    min-height: 100vh;
}
.person-img{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 50%;
    border: solid;
    margin-top: 1rem;

}
.about{
    text-align: center;
    
}
.tehnologies{
    color: white;
    padding: 2rem;
    background-color: gray;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem ;
    justify-content: center;
    cursor:pointer;
}
.tehnology{
    background-color: blue;
    display: flex;
    display: inline-block;
    padding: 0.5rem 2rem;
    border-radius: 4px;
}
.tehnology:hover{
    background-color:rgb(16, 16, 42) ;
    scale: 1.07;
}
footer{
    background-color: blue;
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: auto;
    
    
}